<div id="customer_form">
  <p class="validateTips">All form fields are required.</p>

  <form>
     <fieldset>
          <legend id="form_title"></legend>

          <label for="first_name">First Name</label>
          <br/>
          <input id="first_name" type="first_name" placeholder="First Name" size="35" >
          <br/>

          <label for="last_name">Last Name</label>
          <br/>
          <input id="last_name" type="last_name" placeholder="Last Name" size="35">
          <br/>

          <label for="email">Email</label>
          <br/>
          <input id="email" type="email" placeholder="Email" size="35">
          <br/>

          <label for="phone">Phone</label>
          <br/>
          <input id="phone" type="phone" placeholder="Phone" size="35">
          <br/>

          <label for="birthdate">Birth Date</label>
          <br/>
          <input id="birthdate" type="birthdate" placeholder="Birth Date" size="35">
      </fieldset>
  </form>
</div>